<div class="container">
  <div fxLayout="row" class="add-button">
    <button mat-raised-button color="primary" (click)="openProductDialog()">Add new item</button>
  </div>
  <div fxLayout="row" class="product-container m-t-10">
    <mat-card class="example-card" *ngFor="let product of productList">
      <img mat-card-image [src]="product.image" [alt]="product.name">
      <mat-card-content>
        <div class="m-t-10">
          {{ product.name }}
        </div>
        <div class="m-t-10">
          price: {{ product.price }} Rs
        </div>
        <div class="m-t-10">
          {{ product.description }}
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="openProductDialog(product)">Edit</button>
        <button mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
